@import "tailwindcss";


body {
  font-family: var(--font-inter);
}

.black {
  color: #000000;
}

.gray {
  color: #666666;
}

.light-gray {
  color: #bfbdbd;
}

.smoke {
  color: #f5f5f5;
}

.white {
  color: #eeeeee;
}

.iris {
  color: #4C3BCF;
}

.violet {
  color: #836fff;
}

.light-blue {
  color: #3dc2ec;
}



.bg-gray {
  background-color: #666666;
}

.bg-light-gray {
  background-color: #bfbdbd;
}

.bg-smoke {
  background-color: #f5f5f5;
}

.bg-iris {
  background-color: #4C3BCF;
}

.bg-violet {
  background-color: #836fff;
}


.hover\:iris:hover {
  color: #4C3BCF;
}

.hover\:bg-violet:hover {
  background-color: #836fff;
}

.hover\:bg-gray:hover {
  background-color: #666666;
}

.hover\:bg-light-gray:hover {
  background-color: #bfbdbd;
}

.hover\:bg-smoke:hover {
  background-color: #f5f5f5;
}


.group:focus-within .icon {
  color: #4C3BCF;
}

.border-iris {
  border: #4C3BCF 2px solid;
}

.border-white {
  border: #eeeeee 1px solid;
}

.border-light-gray {
  border: #bfbdbd 1px solid;
}

.border-b-light-gray {
  border-bottom: #bfbdbd 1px solid;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE & Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}